/Guia8/nbproject/private/
/Guia8/build/
/Guia9/nbproject/private/
/Guia9/build/
/Integrador/nbproject/private/
/Integrador/build/
/guia10/nbproject/private/
/guia10/build/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/Guia11-ejex3/nbproject/private/
/ProbandoUML/nbproject/private/
/Herencia/nbproject/private/
/Herencia/build/
/UTN/nbproject/private/
/UTN/build/
/Guia12/nbproject/private/
/Guia12/build/
/J.A.R.V.I.S/nbproject/private/
/trabajo-UTN/nbproject/private/
/trabajo-UTN/build/
/Clase10-Ejercicio1/nbproject/private/
/Clase10-Ejercicio1/build/
/Condicional-Ejercicio1/nbproject/private/
/Condicional-Ejercicio1/build/
/Conidicional-Ejercicio2/nbproject/private/
/Condicional-Ejercicio2/nbproject/private/
/Condicional-Ejercicio2/build/
/Condicional-Ejercicio3/nbproject/private/
/Condicional-Ejercicio3/build/
/Condicional-Ejercicio1_1/nbproject/private/
/clase9Java/build/
/clase9Java/nbproject/private/
/Libreria/target/
/Libreria2/nbproject/private/
/Libreria2/build/
/Libreria.posta/nbproject/private/
/Libreria.2/nbproject/private/
/LibreriaPostaPosta/nbproject/private/
/EjerciciosUTN/nbproject/private/
/EjerciciosUTN/build/
/EjerciciosUTN2023/target/
/UTNEjercicios/nbproject/private/
/UTN-2023/nbproject/private/
